body {
  background-color: #EEE;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

textarea {
    resize: none;
}

#main-container {
  max-width: 960px;
}

#main-navbar {
  border-bottom: 1px solid #CCC;
  .navbar-brand {
    color: hsl(0, 80, 40);
    font-size: 32px;
    font-family: "Noto Serif", serif;
  }
}

.vote-buttons {
  > form {
    display: inline-block;
  }
}

.comments {
  display: none;
  .comment {
    padding-left: 32px;
    border-left: 4px solid #AAA;
  }
}

.comments-visible {
  display: block;
}
