body {
  background-color: #EEE;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

#main-container {
  max-width: 960px;
}

#main-navbar {
  border-bottom: 1px solid #CCC;
  .navbar-brand {
    color: hsl(0, 80, 40);
    font-size: 32px;
    font-family: "Noto Serif", serif;
  }
}

.vote-buttons {
  > form {
    display: inline-block;
    > input {
      &.upvote {
        color: white;
      }
    }
  }
}

.question, .answer, .comment {
  border: 1px solid #CCC;
}

.comments {
  display: none;
  .comment {
    padding-left: 32px;
  }
}

.comments-visible {
  display: block;
}
