<% if logged_in? %>
  <%# Check if already upvoted %>
  <% @vote = get_vote(@model, @id) %>
  <% unless voted?(@vote) && @vote.vote_type == 'upvote' %>
    <%= "<form method='post' action='/#{@model}/#{@id}/vote' name='vote'>" %>
      <input type="hidden" name="vote_type" value="upvote">
      <input type=submit value='upvote'>
    </form>
  <% else %>
    <%= "<form method='post' action='/#{@model}/#{@id}/remove-vote' name='remove-vote'>" %>
      <input type=submit value='upvoted'>
    </form>
  <% end %>
  <%# Check if already downvoted %>
  <% unless voted?(@vote) && @vote.vote_type == 'downvote' %>
    <%= "<form method='post' action='/#{@model}/#{@id}/vote' name='vote'>" %>
      <input type="hidden" name="vote_type" value="downvote">
      <input type=submit value='downvote'>
    </form>
  <% else %>
    <%= "<form method='post' action='/#{@model}/#{@id}/remove-vote' name='remove-vote'>" %>
        <input type=submit value='downvoted'>
    </form>
  <% end %>
<% else %>
  <form method='get' action='/login'>
      <input type=submit value='upvote'>
  </form>
  <form method='get' action='/login'>
      <input type=submit value='downvote'>
  </form>
<% end %>
