<!-- generate all questions on the front page -->
<% Question.all.order(created_at: :desc).each do |x| %>
  <%= ("
    <h3><a href='/question/#{x.id}'>#{x.title}</a></h3>
    <p>#{x.description}</p>
    <span>Posted at #{x.created_at} by #{User.find(x.user_id).full_name}</span>
  ") %>

  <!-- voting buttons -->
  <div class="vote-buttons">
    <%= erb :"extensions/vote_buttons", layout: false, locals: { instance: x } %>
  </div>

<% end %>
