<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<!-- generate all questions on the front page -->
<% Question.all.each do |x| %>
  <%= ("
    <h3><a href='/question/#{x.id}'>#{x.title}</a></h3>
    <h5>Asked by #{User.find(x.user_id).full_name}
    <span>Currently has #{x.rating} updoots</span>
  ") %>

  <!-- voting buttons -->
  <% @model = "question" %>
  <% @id = x.id %>
  <%= erb :"extensions/vote_buttons", layout: false %>

<% end %>
