<% unless logged_in? %>
  <%= "<span>You must log in to post a question.</span><a href='../login'>Login</a>" %>
<% else %>
  <%= ("
    <h2>New question</h2>
    <form method='post' action='create' id='question'>
      <label for='question[title]'></label><input type='text' name='question[title]'>

      <input type='submit' value='Submit'>
    </form>
    <label for='question[description]'>description</label><textarea name='question[description]' form='question'></textarea>
  ") %>
<% end %>
