<h5>User's Name:</h5>
<%= @user.full_name %>
<h5>Questions:</h5>
<% @user.questions.each do |x| %>
  <%= x.title %>
<% end %>
<h5>Answers:</h5>
<% @user.answers.each do |x| %>
  <%= x.answer %>
<% end %>
