<h2>Sign up for an account!</h2>
<form method="post" action="/signup">
    <label for="user[full_name]">Full Name</label><input type="text" placeholder="Full Name" name="user[full_name]"><br>
    <label for="user[full_name]">Email</label><input type="text" placeholder="Email" name="user[email]"><br>
    <label for="user[full_name]">Password</label><input type="password" placeholder="Password" name="user[password]"></br>
    <label for="user[full_name]">Confirm Password</label><input type="password" placeholder="Confirm Password" name="user[password_confirmation]"></br>
    <input type=submit value="Sign up">
</form>
